#DashboardContent{

}
.dTop{
  width: 1590px;
  height: 417px;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  margin: 0 auto;
}
.dTopTitle{
  font-size: 22px;
  font-weight: bold;
  margin-top: 33px;
  margin-left: 34px;
}
.dProfile{
  width: 1305px;
    height: 273px;
    display: flex;
    margin: 0 auto;
    margin-top: 29px;
    gap: 96px;
  }
  .dInfo{
    width: 793px;
    height: 273px;
    display: flex;
    gap: 75px;
  }
  .dPimg{
    width: 283px;
    height: 273px;
  }
  .dPname{
    list-style: none;
    font-size: 32px;
    font-weight: bold;
    line-height: 61px;
}
.dPname > li{
  
}
.dExpectPrice{
  width: 416px;
  height: 114px;
  margin-top: 30px;
}
.dEPtitle{
  border-bottom: 1px solid black;
  font-size: 32px;
  font-weight: bold;
  padding-left: 71px;
  line-height: 60px;
}
.dContentTop{
  width: 1590px;
  height: 527px;
  margin: 0 auto;
  margin-top: 31px;
  display: flex;
  gap: 36px;
}
.dCategoPrice{
  width: 978px;
  height: 527px;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}
.dCPtitle{
  width: 200px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 24px;
}
.chart-container{
  width: 388px;
  height: 388px;
  margin-left: 100px;
  margin-top: 36px;
  margin-right: 0px !important;
}
.dDailyPrice{
  width: 576px;
  height: 527px;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
}
.dDPtitle{
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 24px;
}
.dContentMiddle{
  width: 1590px;
    height: 499px;
    margin: 0 auto;
    margin-top: 36px;
    display: flex;
    gap: 36px;
}
.dExpendPer{
  width: 629px;
    height: 499px;
    border: 3px solid #e6e6e6;
    border-radius: 10px;
}
.dExpendPertitle{
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 17px;
}

.dContentBottom{
  width: 1590px;
  height: 580px;
  margin: 0 auto;
  margin-top: 25px;
}
.dMonthlyExpend{
  width: 1590px;
    height: 580px;
    border: 3px solid #e6e6e6;
    border-radius: 10px;
}
.dMEtitel{
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 24px;
}
.dBottom{
  width: 1590px;
  height: 521px;
  margin: 0 auto;
  margin-top: 58px;
  margin-bottom: 117px;
}
.dMItitle{
  font-size: 28px;
  font-weight: bold
}
.dMontlyIssue{
  width: 1590px;
  height: 459px;
  margin-top: 28px;
  display: flex;
  gap: 65px
}
.dMIcontent{
  width: 487px;
  height: 459px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 4px 5px 7px 0px gray;
}
.dMIheader{
  width: 372px;
  height: 256px;
  margin: 0 auto;
}
.dMIheader > img{
  width: 100%;
  height: 100%;
}
.dMIbody{
  width: 372px;
    height: 71px;
    margin: 0 auto;
    margin-top: 12px;
    border-bottom: 1px solid #e8e8e8;
}
.dMIbtitle{
  font-size: 15px;
  font-weight: bold;
  color: #9c52ff;
}
.dMIbsubtitle{
  font-size: 17px;
  font-weight: bold;
  margin-top: 11px;
}
.dMIfooter{
  width: 293px;
  height: 37px;
  margin-left: 57px;
  margin-top: 34px;
}
.dMIfcontent{
  font-size: 12px;
  font-weight: bold;
  color: #9d9d9d;
}
