.chart-container2{
  width: 352px;
  height: 352px;
  margin-left: 140px;
   margin-top: 36px;
}
.ExpendPer{
  font-size: 70px;
  font-weight: bold;
  color: #00c92c;
  margin-top: -237px;
  margin-left: 245px;
}